<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angularJS/angular.min.js"></script>
    <script src="angularJS/app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchMenu"
             style="border-color: {{messageColor}};">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkMenu()">Check If Too Much</button>
             <span>PLEASE NOTE: Empty items (i.e. , , ,) are NOT counted as items</span>
         </div>
         <div class="form-group message" style="color: {{messageColor}};">
           {{message}}
         </div>
   </div>

</body>
</html>
